  
{% extends _layout %}

{% block content %}
 <!DOCTYPE html>
 <html>

 <head>
  <meta charset="utf-8">
  <meta name=viewport content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=1.5">
  <link rel="stylesheet" type="text/css" href="../css/registration.css">
  <link rel="stylesheet" type="text/css" href="../css/User_page.css">
 </head>
 <body>
    {% if(role == 'Admin') %}
    <h2>Добро пожаловать в меню амина {{ login }}</h2>
    {% else %}
     {% if(role == 'user') %}
     <div id="box">
          <div id="aside">
             <div id="aside-image">
             </div>
             <div id="aside-login">
                 <h2 id="login">{{ login }}</h2>
             </div>
          </div>
          <div id="aside-centre">
           <div id="row">
            <div id="column-left"><p id="text">Имя</p></div>
            <div id="column-right"></div>
           </div>
           <div id="row">
            <div id="column-left"><p id="text">Фамилия</p></div>
            <div id="column-right"></div>
           </div>
           <div id="row">
            <div id="column-left"><p id="text">E-mail</p></div>
            <div id="column-right"></div>
           </div>
           <div id="row">
            <div id="column-left"><p id="text">Дата рождения</p></div>
            <div id="column-right"></div>
           </div>
           <div id="row">
            <div id="column-left"><p id="text">Vk</p></div>
            <div id="column-right"></div>
           </div>
           <div id="row">
            <div id="column-left"><p id="text">Telegram</p></div>
            <div id="column-right"></div>
           </div>
          </div>
          <div id="aside-right">
           <div id="row-right"><p id="login">Мои посты</p></div>
           <div id="row-right"><p id="login">Форум</p></div>
           <div id="row-right"><p id="login">Навык</p></div>
           <div id="Edit"><h2 id="Edit-button">Редактировать</h2></div>
          </div>
     </div>
      {% else %}
  <div id ="header">
       <div id="registration"><h1 id="registration">Авторизация</h1></div>
    <p>
     <form action="" method="post">
          <div id="pogo-column"><input id="column" type="text" name="login" placeholder="логин" value="{{ login }}"><br></div>
          <div id="pogo-column"><input id ="column" type="password" name="password" placeholder="пароль"><br></div>
          <div id="pogo-button"><input id="button" type="submit" value="Войти"></div>
     </form>
    </p>
       <h2 id="comment">{{ comment }}</h2>
   </div>
     {% endif %}
    {% endif %}
 </body>
</html>
{% endblock %}