{% extends _layout %}

{% block content %}
<div class="ui main text container">
    <h1 class="ui header">Semantic UI Fixed Template</h1>
      <p> Всем здрасте. Это создатель данной странички Савва :) </br></p>
  </div>
{% endblock %}
