{% extends _layout %}

{% block content %}
<div class="ui main text container">
    <h1 class="ui header">Информация о проекте</h1>
      <p> Здесь вы научитесь основам веб-дизайна.</br></p>
  </div>
{% endblock %}
