{% extends _layout %}

{% block content %}
<div class="ui main text container">
    <h1 class="ui header">Мои данные)</h1>
      <ul class="right1">
					<li id="vk"><a href="https://vk.com/ssyrkashev"><img src="/images/vk.png" class="footer_pic"></a></li>
					<li id="facebook"><a href=""><img src="/images/facebook-logo.png" class="footer_pic"></a></li>
					<li id="twitter"><a href=""><img src="/images/twitter-logo-silhouette.png" class="footer_pic"></a></li>
					<li id="instagram"><a href=""><img src="/images/instagram-social-network-logo-of-photo-camera.png" class="footer_pic"></a></li>
                                        <li id="instagram"><a href="https://telegramm.online/#/im"><img src="/images/telegram.png" class="footer_pic"></a></li>
      </ul>
  </div>
{% endblock %}
