{% extends _layout %}

{% block content %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/Style.css">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
</head>
	<script src="jquery-3.3.1.min.js"></script>
	<script>

		$(function(){
			$('a[href^="#"]').click(function(){
				var target = $(this).attr('href');
				$('html, body').animate({scrollTop: $(target).offset().top}, 800);
					return false; 
			}); 
		});

		$(function(){
			$('#callback').click(function(){
				$('#pop-up-container').css('display', 'flex');
			});
			$('#pop-up-container').click(function(e){
				if(e.target === this) {
					$('#pop-up-container').css('display', 'none');
				}
			});
		});

		$(function(){
			$('#callback_2').click(function(){
				$('#pop-up-container').css('display', 'flex');
			});
			$('#pop-up-container').click(function(e){
				if(e.target === this) {
					$('#pop-up-container').css('display', 'none');
				}
			});
		});	


		$(function(){
			$('#zakaz').click(function(){
				$('#pop-up-container').css('display', 'flex');
			});
			$('#pop-up-container').click(function(e){
				if(e.target === this) {
					$('#pop-up-container').css('display', 'none');
				}
			});
		});

		$(function(){
			$('#footer_callback').click(function(){
				$('#pop-up-container').css('display', 'flex');
			});
			$('#pop-up-container').click(function(e){
				if(e.target === this) {
					$('#pop-up-container').css('display', 'none');
				}
			});
		});

	</script>
	<title>Сыркашев Савва - официальный сайт</title>

	<style>
	.top {
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 5;
		background-color: #ff823a;
		opacity: 0.3;
		text-decoration: none;
		padding: 10px 15px;
		color: white;
		border-radius: 0px 10px 10px 0px;
		transition: all 0.2s;
		font-size: 25px;
	}

	.top:hover {
		padding: 10px 30px;
		background-color: #ff5d00;
		transition: all 0.2s;
		opacity: 1;
	}

	@media all and (max-width: 1215px) {
		.top {
			padding: 10px 20px;
		}
	}

	@media all and (max-width: 1215px) {
		.top:hover {
			padding: 20px 30px;
		}
	}
	</style>
</head>

<body>

	<div id="pop-up-container">
		<div id="pop-up">
			<h1>Форма заявки</h1>
			<form action="send.php" method="POST">
				<input id="login" type="text" name="name" autocomplete="off" placeholder="Имя" required autofocus>
				<input type="text" name="telefon" placeholder="Телефон, без+" required pattern="[0-9]{11}"> <!-- 11 цифр-->
				<input id="zakazat_proekt" type="submit" name="zakazat_proekt" required value="Заказать проект">
				<br>
				<input id="zakazat_proekt" type="checkbox" name="agreement" required value="Я согласен с условиями обработки персональных данных" >
				<p id="agreement">Я согласен с условиями обработки персональных данных</p> 
			</form>
		</div>
	</div>

	<div id="header">


		<div class="intro"> <!--блок с информацией обо мне-->
			<h1>Команда разработчиков</h1>
			<h3>В нашей команде пока только два человека, но надеюсь мы будем расти.)</h3>
		</div>

	</div>

		<div class="what_can_i_do">
			<h1>Перечень сотрудников</h1>

			<div class="row justify-content- text-">

				<div class="col-3 col-md-3">
                 <img src="/images/photo_2019-05-07_20-47-51.jpg">
                  <ul class="right1"> <!-- Создал список соц. сетей -->
					<li id="vk"><a href="https://vk.com/vetermanve"><img src="/images/vk.png" class="footer_pic"></a></li>
					<li id="facebook"><a href=""><img src="/images/facebook-logo.png" class="footer_pic"></a></li>
					<li id="twitter"><a href=""><img src="/images/twitter-logo-silhouette.png" class="footer_pic"></a></li>
					<li id="instagram"><a href=""><img src="/images/instagram-social-network-logo-of-photo-camera.png" class="footer_pic"></a></li>
				</ul>
				</div>
               <div class="col-9 col-md-3">
                 <h3>Денисов Миша</h3>
                 <p>Основатель</p>
               </div>
               <div class="col-3 col-md-3">
                 <img src="/images/4X8io7GVs-E.jpg">
                   <ul class="right1"> <!-- Создал список соц. сетей -->
					<li id="vk"><a href="https://vk.com/ssyrkashev"><img src="/images/vk.png" class="footer_pic"></a></li>
					<li id="facebook"><a href=""><img src="/images/facebook-logo.png" class="footer_pic"></a></li>
					<li id="twitter"><a href=""><img src="/images/twitter-logo-silhouette.png" class="footer_pic"></a></li>
					<li id="instagram"><a href="https://www.instagram.com"><img src="/images/instagram-social-network-logo-of-photo-camera.png" class="footer_pic"></a></li>
				</ul>
               </div>
               <div class="col-9 col-md-3">
                 <h3>Сыркашев Савва</h3>
                 <p>Ученик</p>
               </div>
               <div class="col-3 col-md-3">
               </div>

		</div>


</body>
</html>
{% endblock %}
