{% extends _layout %}

{% block content %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name=viewport content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=1.5">
	<link rel="stylesheet" type="text/css" href="../css/Style.css">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
</head>
	<script src="jquery-3.3.1.min.js"></script>

	<style>
	.top {
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 5;
		background-color: #ff823a;
		opacity: 0.3;
		text-decoration: none;
		padding: 10px 15px;
		color: white;
		border-radius: 0px 10px 10px 0px;
		transition: all 0.2s;
		font-size: 25px;
	}

	.top:hover {
		padding: 10px 30px;
		background-color: #ff5d00;
		transition: all 0.2s;
		opacity: 1;
	}

	@media all and (max-width: 1215px) {
		.top {
			padding: 10px 20px;
		}
	}

	@media all and (max-width: 1215px) {
		.top:hover {
			padding: 20px 30px;
		}
	}
	</style>
</head>

<body>




    <div id="header">


		<div class="intro2"> <!--блок с информацией обо мне-->
		   <div class="text">
			<h1>Начинающим дизайнерам</h1>
			<h3>Курс для тех, кто хочет сразу правильно развиваться в сфере дизайна, <br>не тратить время и научиться зарабатывать серьёзные деньги, занимаясь <br>любимой работой.</h3>
		   </div>
		</div>

	</div>
    
    <div id="header">


		<div class="intro3"> <!--блок с информацией обо мне-->
		   <div class="text3">
			<h1>Кому подойдет обучение</h1>
			<h3>Начинающим дизайнерам<br>

Курс для тех, кто хочет сразу правильно развиваться в сфере дизайна, не <br>тратить время и научиться зарабатывать серьёзные <br>деньги, занимаясь любимой работой.<br><br>

Дизайнерам с опытом, но готовых развиваться<br>

Те кто трезво оценивают свои силы и понимают, что нужно повышать<br> планку профессионального уровня и зарабатывать больше</h3>
		   </div>
		</div>

	</div>

    <div id="header">


		<div class="intro4"> <!--блок с информацией обо мне-->
		   <div class="text4">
			<h1>Совместная разработка</h1>
			<h3>Хороший программист - это на 50% умение кодить и на 50% умение <br>взаимодействовать с коллегами. Здесь прокачают ваши "soft <br>skills", которые обязательно проверят на собеседовании в любую <br>серьезную компанию.</h3>
		   </div>
		</div>

	</div>


    <div id="header">


		<div class="intro5"> <!--блок с информацией обо мне-->
		   <div class="text5">
			<h1>Совместная разработка</h1>
			<h3>Хороший программист - это на 50% умение кодить и на 50% умение <br>взаимодействовать с коллегами. Здесь прокачают ваши "soft <br>skills", которые обязательно проверят на собеседовании в любую <br>серьезную компанию.</h3>
		   </div>
		</div>

	</div>

	<div id="header">

		<div class="intro"> <!--блок с информацией обо мне-->
		  <div class="text2">
			<h1>Команда разработчиков</h1>
			<h3>В нашей команде пока только два человека,<br> но надеюсь мы будем расти.)</h3>
		  </div>
		</div>

	</div>


		<div class="what_can_i_do">
			<h1>Перечень сотрудников</h1>

			<div class="ui stackable four column grid">

				<div class="column">
				 <div class="col-3">
                  <img src="/images/photo_2019-05-07_20-47-51.jpg">
                 </div>
                  <ul class="right1">
					<li id="vk"><a href="https://vk.com/vetermanve"><img src="/images/vk.png" class="footer_pic"></a></li>
					<li id="facebook"><a href=""><img src="/images/facebook-logo.png" class="footer_pic"></a></li>
					<li id="twitter"><a href=""><img src="/images/twitter-logo-silhouette.png" class="footer_pic"></a></li>
					<li id="instagram"><a href=""><img src="/images/instagram-social-network-logo-of-photo-camera.png" class="footer_pic"></a></li>
				</ul>
				</div>
               <div class="column">
                 <h3>Денисов Миша</h3>
                 <p>Основатель</p>
               </div>
               <div class="column">
                <div class="col-3">
                 <img src="/images/4X8io7GVs-E.jpg">
                </div>
                   <ul class="right1">
					<li id="vk"><a href="https://vk.com/ssyrkashev"><img src="/images/vk.png" class="footer_pic"></a></li>
					<li id="facebook"><a href=""><img src="/images/facebook-logo.png" class="footer_pic"></a></li>
					<li id="twitter"><a href=""><img src="/images/twitter-logo-silhouette.png" class="footer_pic"></a></li>
					<li id="instagram"><a href="https://www.instagram.com"><img src="/images/instagram-social-network-logo-of-photo-camera.png" class="footer_pic"></a></li>
				</ul>
               </div>
               <div class="column">
                 <h3>Сыркашев Савва</h3>
                 <p>Разработчик</p>
               </div>
            </div>
		</div>


</body>
</html>
{% endblock %}
